@tailwind base;
@tailwind components;
@tailwind utilities;



body {

    background-color: white;
    color: black;
    margin-left: 55px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html, body {
  overflow-x: hidden;
}



@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.card-visible {
  opacity: 1;
  transform: translateY(0);
  animation: popUp 1.5s ease-out forwards;
}

